* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #0b2d3c;
    color: rgb(235, 235, 235);
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:rgb(4, 111, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 30px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {

    display: inline-block;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover {
    color: #0ef;
    font-size: 20px;
}

.home {
    position: relative;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
    background-color: #0b2d3c;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.profile-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height:500px;
    border-radius: 300%;
    padding:10px;
    background:  linear-gradient(135deg,
    #00fff0,
    #b100ff);
    box-shadow:0 0 25px #00fff0,
    0 0 50px #b100ff;
    animation:floatAnimation 3s ease-in-out infinite;

}
.profile-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 200%;
    object-fit: cover;
    background:#0b2d3c;
}
.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 35px;
    font-display: fallback;
    color:white;
    text-shadow:rgb(21, 66, 226) 0 0 20px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-last-of-type(2) {
    font-size:30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color:#de0e50;
    text-shadow: aquamarine 0 0 10px;
}

.home-content h2 {
    font-size: 20px;
    font-weight:600;
    text-shadow:rgb(21, 66, 226) 0 0 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    margin-bottom:20px;
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
    font-size: 20px;
    color:rgba(243, 239, 239, 0.962);
    text-shadow:rgb(21, 66, 226) 0 0 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-sci a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(81, 17, 123);
    border-radius: 50%;
    font-size: 20px;
    color: aquamarine;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: calc(.2s * var(--i, 1));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: rgb(176, 22, 112);
    color: rgba(40, 252, 238, 0.6);
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-flex;
    padding: 13px 28px;
    padding-top:20px;
    background: rgb(234, 89, 178);
    border-radius: 10px;
    font-size: 16px;
    color: #0453b5;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0453b5,
        0 0 25px #0453b5;

}

.btn-box:hover {
    box-shadow: 0 0 5px #0453b5,
        0 0 25px #0453b5, 0 0 50px #0453b5,
        0 0 100px #0453b5, 0 0 200px #0453b5;
}
.about{
    background-color: #0b2d3c;
    display:grid;
    padding-top:5px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:1.5rem;
}
.about-img{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 500px;
    height:500px;
    border-radius: 300%;
    padding:10px;
    background:  linear-gradient(135deg,
    #6fb817,
    #ee741e);
    box-shadow:0 0 25px #d528bb,
    0 0 50px #a51b54;
    animation:floatAnimation 3s ease-in-out infinite;

}
.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 200%;
    object-fit: cover;
    background:#0b2d3c;
}
.about-text{
    margin-left:-80px;
}
.about-text h2{
    font-size:60px;
    color:rgb(69, 193, 235);
}
.about-text h2 span{
    color:#ffffff;
}
.about-text p{
    font-size:20px;
    padding-top:30px;
    text-shadow:0 0 5px rgba(0, 255, 225, 0.6),
    0 0 10px rgba(0, 200, 255, 0.4);
    text-align:left;
    color:#aefeff;
}
.about-text h4{
    font-size:20px;
    padding-top:20px;
    color:rgb(31, 206, 237);

}
.services-box{
    background:rgb(0, 255, 255, 0.05);
    border:1px solid rgba(0,255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
}
.sub-title{
    text-align:center;
    font-size: 60px;
    padding-bottom: 70px;
    text-align:center;
    font-size: 60px;
}
.sub-title {
    font-style:italic;
    padding-right:15px;
    color:rgb(31, 206, 237);
}
.sub-title span{
    font-style:italic;
    padding-left:15px;
    color:rgb(247, 247, 247);
}
.container{
    color:#5c0577;
    padding:90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin: 50px;
}
.services-list div{
    background-color:rgba(0, 255,255,0.05);
    padding: 40px;
    font-size: 13px;
    font-weight:500;
    border-right:10px;
    border-radius:20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
    0 0 15px rgba(0, 255, 255, 0.2); 
    color:rgb(203, 204, 205);
    backdrop-filter: blur(10px);
}
.services-list div i{
    font-size: 50px;
   margin-bottom:30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 15px;
    color:#45c1eb;
   text-shadow: 0 0 8px rgba(69,193,235 ,0.5); 
}
.services-list div p{
    color:#aefeff;
    line-height:1.6;
    text-shadow: 0 0 16px rgba(0,255,255,0.3);
}
.services-list div a{
    text-decoration: none;
    color: rgb(7, 189, 255);
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding:12px 25px;
    background:rgb(1, 13, 240);
    border-radius: 40px;
    font-size:16px;
    color:rgba(38, 8, 229, 0.967);
    letter-spacing: 1px;
    text-decoration:none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop  3s ease forwards;
    animation-delay:2s;
    box-shadow: 0 0 5px #b100ff,
    0 0 100px #b100ff;
     
}  
.read:hover{
 box-shadow: 0 0 5px #8c04b5,
        0 0 25px #8c04b5, 0 0 50px #8c04b5,
        0 0 100px #b50480, 0 0 200px #b5047a;
}
.services-list div:hover{
    transform:translateY(-10px);
}
.skills {
    padding: 80px 10%;
    background: #0b2d3c;
    color: white;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 3px solid #45c1eb;
    display: inline-block;
}

.skill {
    margin-bottom: 40px;
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.skill-info i{
    font-size:50px;
}

.skill-info span {
    font-size: 18px;
    font-weight: 600;
}

.percent {
    background: black;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* Progress Line Background */
.progress-line {
    position: relative;
    height: 6px;
    width: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

/* Fill Effect */
.progress-line::before {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background: #45c1eb;
}

/* Widths */
.progress-line.html::before { width: 90%; }
.progress-line.css::before { width: 60%; }
.progress-line.js::before { width: 85%; }
.progress-line.python::before { width: 50%; }
.progress-line.react::before { width: 75%; }

/* Optional Glow */
.progress-line::before {
    box-shadow: 0 0 10px #45c1eb;
}

.portfolio{
    padding:50px 10%;
}
.portfolio-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
}
.portfolio-card{
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.portfolio-card img{
    width:100%;
    height:400px;
    object-fit:cover;
    display:block;
    transition: 0.5s ease;
}
.portfolio-layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0), #ff004f);
    position:absolute;
    border-radius: 8px;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:0 40px;
    transition:height 0.5s ease;
    border-radius:12px;

}
.portfolio-layer h5{
    color:#000;
    font-size:20px;
    font-weight:600;
    margin-bottom:15px;

}
.portfolio-layer p{
    color:#000;
    font-size:1rem;
    line-height: 1.8;
}
.portfolio-layer i{
    color:#ff004f;
    margin-top:20px;
    font-size:20px;
    background: #fff;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}
.portfolio-card:hover img{
    transform:scale(1.1);
}
.portfolio-card:hover .portfolio-layer{
    height:100%;
}

.contact{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    align-items:center;
    gap: 3rem;
    padding-left:30px;
    margin-top:130px;
}
.contact-text h2{
    font-size:70px;
    line-height:1;
    text-align:center;
    padding:1rem;
    padding-right:180px;
}
.contact-text h2 span{
    color:#0ef;
}
.contact-text h4{
    margin:15px 0;
    color: rgb(220,228,228);
    font-size:25px;
    font-weight:600;
    padding-left:20px;
}
.contact-text p{
    color:rgb(177,177,177);
    font-size:20px;
    line-height:30px;
    margin-bottom:2rem;
    padding-left:20px;

}
.contact-list{
    margin-bottom:1rem;
}
.contact-list li{
    margin-bottom: 10px;
    display:block;
}
.contact-list li{
    margin-bottom:10px;
    display:block;
}
.contact-list i{
    display:inline-block;
    color:#0ef;
    padding-left:px;
    font-size:20px;
    font-weight:600;
    transition: all .40s ease;
}
.contact-list span{
    padding-left:20px;
}
.contact-list li a:hover{
    transform:scale(1.01) tranlate(-5px);
    color:#0ef;
}
.contact-icons i{
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color:#0ef;
    text-decoration:none;
    margin:30px 15px 30px 0;
    transition: .5s ease;
    opacity:0;
    animation:slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color:#000;
    box-shadow:0 0 20px #0ef;
}
.contact-form form{
    position:relative;    
}
.contact-form form input.form textarea{
    border:none;
    outline:none;
    width:90%;
    padding:18px;
    background: #555557;
    color:#000;
    font-size:1rem;
    font-weight:600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form text{
    resize:none;
    height:220px;

}
.contact-form form .send{
     display: inline-block;
    padding:12px 25px;
    background:rgb(0, 9, 102);
    border-radius: 40px;
    font-size:16px;
    color:rgba(6, 216, 249, 0.921);
    letter-spacing: 1px;
    text-decoration:none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop  3s ease forwards;
    animation-delay:2s;
    box-shadow: 0 0 5px #b100ff,
    0 0 100px #b100ff;

}
.contact-form form .send:hover{
     box-shadow: 0 0 5px #8c04b5,
        0 0 25px #8c04b5, 0 0 50px #8c04b5,
        0 0 100px #b50480, 0 0 200px #b5047a;

}

.last-text p{
    width:100%;
    text-align:center;
    padding:25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;

}
.top{
    position: fixed;
    bottom:2.1rem;
    right:2,1rem;
}
.top i{
    color:#000;
    background: #0ef;
    font-size:20px;
    padding:10px;
    border-radius: 0.5rem;
}





@keyframes animate{
    100%{
        transform:scaleX(1);
    }
}
@keyframes floatAnimation {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}




